
.h1 {
    background-color: #3e5c93;
}
.main-menu {
    background-color: #2c3e50;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
     
}
.main-menu ul{
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
}

.main-menu li a {
    display: block;

    padding: 10px 15px;

    text-decoration: none;

    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.main-menu li a:hover {
    background-color: #3e5c93;
    color: white;
}
/* 1. Estilo del contenedor principal: HEADER */
.page-header {
    background-color: #2c3e50; /* Fondo oscuro de la barra */
    padding: 10px 20px; /* Espaciado interno de la barra */
    display: flex; /* Convierte el header en un contenedor flexible */
    
    /* Alinea el h1 y el nav verticalmente en el centro */
    align-items: center; 
    
    /* Distribuye el espacio entre el h1 y el nav */
    justify-content: space-between; 
}



